.modal-dialog {
  max-width: 40rem !important;
}

.file-label {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label{
  width: 100%;
  text-align: start;
}

.invalid-feedback {
  text-align: start;
}
